onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=unrs-resolver
onlyBuiltDependencies[]=msgpackr-extract
